<!-- Login form -->
<form action="/login"
      method="post"
      class="login-form">

    <!-- Cisco logo -->
    <img src="/img/cisco_logo.svg" >

    <!-- Email input label and input field -->
    <div class="form-group form-item">
        <label>Email</label>
        <input type="text" class="form-control" name="email">
    </div>

    <!-- password input label and input field -->
    <div class="form-group form-item">
        <label>Password</label>
        <input type="password" class="form-control" name="password">
    </div>

    <!-- Submit form button -->
    <button type="submit" class="btn btn-warning btn-lg submit-btn">Login</button>
</form>
<!-- /login form -->