<!-- Loding spinner icon -->
<div id="loader" class="spinner-loader">
    Loading…
</div>
<!-- /Loading spinner icon -->

<!-- Aws Grid section -->
<div class="panel panel-default">

    <!-- Grid Title -->
    <div class="panel-heading">
        <h3 class="panel-title">{{title}}</h3>
    </div>
    <!-- /Grid Title -->

    <!-- The grid which shows aws instances data -->
    <aha-table id="themed"
               selectable
               searchable
               removable
               movable
               pagesize="5"
               pagesizetitle="Page Size:"
               summarytitle="Viewing"
               searchtitle="Show/Hide Filters">
        <aha-column name="InstanceId"
                    type="string"
                    label="InstanceId"
                    sortable
                    searchable
                    required
                    editable
                    placeholder="Instance Id"
                    default=""
                    hint="Instance Id"
                    searchplaceholder="Type to filter title">
        </aha-column>
        <aha-column name="InstanceType"
                    type="string"
                    label="InstanceType"
                    sortable
                    searchable
                    required
                    editable
                    placeholder="Instance Type"
                    default=""
                    hint="Instance Type">
        </aha-column>
        <aha-column name="State"
                    type="string"
                    label="State"
                    sortable
                    searchable
                    required
                    editable
                    placeholder="Instance State"
                    default=""
                    hint="Instance State">
        </aha-column>
        <aha-column name="AvailabilityZone"
                    type="string"
                    label="AZ"
                    sortable
                    searchable
                    required
                    editable
                    placeholder="Availability Zone"
                    default=""
                    hint="Availability Zone">
        </aha-column>
        <aha-column name="PublicIpAddress"
                    type="string"
                    label="Public Ip"
                    sortable
                    searchable
                    required
                    editable
                    placeholder="Public Ip"
                    default=""
                    hint="Public Ip Address">
        </aha-column>
        <aha-column name="PrivateIpAddress"
                    type="string"
                    label="Private Ip"
                    sortable
                    searchable
                    required
                    editable
                    placeholder="Private Ip"
                    default=""
                    hint="Private Ip Address">
        </aha-column>
    </aha-table>
    <!-- /The grid which shows aws instances data -->
</div>
<!-- /Aws Grid section -->